pulumi==3.209.0
pulumi-datarobot>=0.10.22
datarobot-pulumi-utils>=0.0.2.post1,<0.2

datarobot>=3.9.1,<4.0.0
datarobot-predict>=1.9.6,<1.10
datarobotx-idp>=0.2.13,<0.3

streamlit>=1.39.0,<2
st-theme>=1.2.3,<2
streamlit-javascript>=0.1.5,<1.0

python-dotenv==1.1.1
pydantic>=2.9.2,<2.12
pydantic-settings>=2.9.0,<2.13
eval-type-backport>=0.2.0,<0.4

jupyterlab>=4.2.5,<5
papermill>=2.6.0,<3

babel>=2.16,<3
pandas>=2.2.3,<3
pandas-stubs>=2.2.3.250308,<3

pytest==9.0.1
pytest-cov==7.0.0
pytest-mock==3.15.1
mypy==1.18.2
types-PyYAML==6.0.12.20250915
ruff==0.14.9
